@using TGM.API.Entity.Model;
@model  PagerQuery<PagerInfo, List<Server>>

@{
    ViewBag.Title = "启服管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.user as User;
}

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN EXAMPLE TABLE widget-->
            <div class="widget purple">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>@ViewBag.Title</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <div>
                        <div class="space15"></div>
                        @if (ViewBag.Error < 0)
                        {
                            <div class="alert alert-error">
                                <button class="close" data-dismiss="alert">×</button>
                                <center> @ViewBag.Message</center>
                            </div>
                        }
                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>服务器名称</th>
                                    <th>平台名称</th>
                                    <th>访问域名</th>
                                    <th>游戏IP</th>
                                    <th>游戏端口</th>
                                    <th>服务器状态</th>
                                    <th>启服时间</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.EntityList)
                                {
                                    <tr class="">
                                        <td>@item.id</td>
                                        <td>@item.name</td>
                                        <td>@item.platform_name</td>
                                        <td>@item.game_domain</td>
                                        <td>@item.ip</td>
                                        <td>@item.port_server</td>
                                        <td>@item.state_name</td>
                                        <td>@item.server_open </td>
                                        <td>
                                            @if (user.role == 10000 || user.role == 1000)
                                            {
                                                <a class="btn btn-small btn-primary" href="~/System/ServerEdit/@item.id">
                                                    <i class="icon-pencil icon-white"></i>
                                                    编辑
                                                </a>
                                                <a class="btn btn-small btn-success" href="~/System/ManageServerState/@item.id">
                                                    <i class="icon-pencil icon-white"></i>
                                                    管理服务器状态
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="row-fluid">
                            @Html.ShowPageNavigate(Model.Pager.CurrentPageIndex, Model.Pager.PageSize, Model.Pager.RecordCount)
                        </div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE widget-->
        </div>
    </div>

    <!-- END PAGE CONTENT-->

</div>
<!-- END PAGE CONTENT-->
@section Scripts {}


