<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/css")

    @RenderSection("css", required: false)
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="lock">

    @RenderBody()

    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
    @{Html.RenderPartial("~/Views/Shared/_footer.cshtml");}
</body>
<!-- END BODY -->
</html>
