@{
    ViewBag.Title = "福利卡信息编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TGM.API.Entity.Model.GoodsType

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">

    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                @ViewBag.Title
            </h3>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN SAMPLE FORMPORTLET-->
            <div class="widget green">
                <div class="widget-body">
                    @if (ViewBag.Error < 0)
                    {
                        <div class="alert alert-error">
                            <button class="close" data-dismiss="alert">×</button>
                            <center> @ViewBag.Message</center>
                        </div>
                    }
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("GoodsTypeEdit", "Goods", FormMethod.Post))
                    {
                        <div class="control-group success">
                            <label class="control-label" for="inputSuccess">编号</label>
                            <div class="controls">
                                <input type="text" readonly="readonly" class="input-xlarge" id="gid" name="gid" value="@Model.id" />
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" for="inputSuccess">福利卡类型枚举ID</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="typeId" name="typeId" value="@Model.type_id" onkeyup=" this.value = this.value.replace(/[^\d]/g, '') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'')" />
                            </div>
                        </div>
                        <div class="control-group success">
                            <label class="control-label" for="inputSuccess">福利卡类型名称</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="name" name="name" value="@Model.name" />
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">确认</button>
                            <a type="button" class="btn" href="javascript: history.go(-1)">取消</a>
                        </div>
                    }
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->

</div>
<!-- END PAGE CONTENT-->
@section Scripts {}




